$brand-color: #0059C1;
$accent-color: #0060FF;
$light-grey: #F5F5F5;
$brand-gradient: linear-gradient(to bottom right, $brand-color, $accent-color);
$standard-shadow: 2px 3px 8px rgba(0, 0, 0, 0.16);
$standard-border-radius: 14px;
$font: museo-sans-rounded, sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: $font;
}

a {
  text-decoration: none;
  color: $accent-color;
}

a:hover {
  color: $brand-color;
  text-decoration: none;
}

p {
  font-weight: 100;
}

li {
  font-weight: 100;
}

h3 {
  font-size: 20px;
}

.primary-button {
  background-image: $brand-gradient;
  color: white;
  padding: 1rem 4rem;
  text-decoration: none;
  border-radius: $standard-border-radius;
  box-shadow: $standard-shadow;
  min-height: 44px;
  transition: transform 300ms ease-in-out;
  text-align: center;
  font-weight: 700;
}

.primary-button:hover {
  color: white;
  transform: scale(1.05);
}

.secondary-button {
  color: $brand-color;
  background-color: white;
  padding: 1rem 4rem;
  text-decoration: none;
  border-radius: $standard-border-radius;
  box-shadow: $standard-shadow;
  min-height: 44px;
  transition: transform 300ms ease-in-out;
  text-align: center;
  border: 1px solid $brand-color;
  font-weight: 700;
}

.secondary-button:hover {
  color: $brand-color;
  transform: scale(1.05);
}

.back-button {
  display: inline-block;
  padding: 1rem 2rem;
  margin-bottom: 4rem;
}

.info-box {
  padding: 2rem;
  background-color: $light-grey;
  box-shadow: $standard-shadow;
  border-radius: $standard-border-radius;
  color: black;
}

.info-box i {
  color: $brand-color;
}

.round {
  border-radius: 50%;
}

.border-none {
  border: none;
}

.app-container {
  padding-bottom: 8rem;
  margin-top: 2rem;
  max-width: 768px;
}

.app-header-image {
  width: 80%;
  max-width: 500px;
  margin-bottom: 2rem;
}

#error_explanation {
padding: 1em;
color: #721c24;
background-color: #f8d7da;
box-shadow: $standard-shadow;
border-radius: $standard-border-radius;
margin: 2rem;
width: 90%;
}

::-webkit-input-placeholder {
   font-style: italic;
   font-weight: 100;
}
:-moz-placeholder {
   font-style: italic;
   font-weight: 100;
}
::-moz-placeholder {
   font-style: italic;
   font-weight: 100;
}
:-ms-input-placeholder {
   font-style: italic;
   font-weight: 100;
}

input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel], select, textarea {
  color: black;
  background-color: white;
  box-shadow: $standard-shadow;
  border-radius: $standard-border-radius;
  border: hidden 1px;
  padding: 0.25rem 2rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

input[type=submit] {
  border: none;
  width: 100%;
  margin-top: 2rem;
}

input[type=checkbox] {
  display: block;
  margin-bottom: 0.5rem;
}

.light-label {
  font-weight: 100;
}

input[type=checkbox].inline {
  display: inline-block;
}

input[type=radio] {
  display: none;
}

input[type=file] {
  display: none;
}

label {
  margin-bottom: .2em;
  font-size: .8em;
  line-height: .95em;
}

.sign-up-form {
  width: 90%;
  max-width: 350px;
  margin: auto;
}

.profile-image-container {
  position: relative;
}

.profile-upload {
  cursor: pointer;
  margin: 1rem auto;
  box-shadow: $standard-shadow;
}

.profile-uploader-button {
  padding: 8px;
  border: none;
  border-radius: 50%;
  background-color: $light-grey;
  box-shadow: $standard-shadow;
  position: absolute;
  bottom: 1rem;
  left: 36%;
  cursor: pointer;
}

.login-form {
  margin-top: 1rem;
}

.dashboard-img {
  margin-top: 2rem
}

.dashboard-profile {
  margin-top: -4rem;
  margin-bottom: 2rem;
  box-shadow: $standard-shadow;
}

.app-button {
  width: 90%;
  display: inline-block;
  max-width: 400px;
}

.app-info {
  margin: 0rem 1rem;
}

.not-found-img {
  max-width: 300px;
}

.announcement-box {
  color: $brand-color;
  text-align: center;
  padding: 2rem;
  border: 2px solid $brand-color;
  border-radius: $standard-border-radius;
}

.alert {
  width: 100%;
}

.sign-up-field {
  width: 100% !important;
}

.small-text {
  font-size: .8em;
  line-height: .95em;
}

.type-select {
  cursor: pointer;
  margin-bottom: 2rem;
  transition: transform 300ms ease-in-out, color 300ms, background-color 300ms;
}

.type-select:hover {
  transform: scale(1.05);
}

.type-selected {
  background-color: $brand-color;
  color: white;
}

.type-select input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.type-select label {
  cursor: pointer;
}

@include media-breakpoint-down(lg) {
  h3 {
    font-size: 16px;
  }
}