$brand-color: #0059C1;
$accent-color: #0060FF;
$light-grey: #F5F5F5;
$brand-gradient: linear-gradient(to bottom right, $brand-color, $accent-color);
$standard-shadow: 2px 3px 8px rgba(0, 0, 0, 0.16);
$standard-border-radius: 14px;

$font: museo-sans-rounded, sans-serif;
body {
  margin: 0;
  padding: 0;
  font-family: $font;
}

a {
  text-decoration: none;
}

p {
  font-weight: 100;
}

li {
  font-weight: 100;
}

.primary-button {
  background-image: $brand-gradient;
  color: white;
  padding: 1rem 4rem;
  text-decoration: none;
  border-radius: $standard-border-radius;
  box-shadow: $standard-shadow;
  min-height: 44px;
  transition: transform 300ms ease-in-out;
  text-align: center;
  font-weight: 700;
}

.primary-button:hover {
  color: white;
  transform: scale(1.05);
}

.secondary-button {
  color: $brand-color;
  background-color: white;
  padding: 1rem 4rem;
  text-decoration: none;
  border-radius: $standard-border-radius;
  box-shadow: $standard-shadow;
  min-height: 44px;
  transition: transform 300ms ease-in-out;
  text-align: center;
  border: 1px solid $brand-color;
  font-weight: 700;
}

.secondary-button:hover {
  color: $brand-color;
  transform: scale(1.05);
}

.info-box {
  padding: 2rem;
  background-color: $light-grey;
  box-shadow: $standard-shadow;
  border-radius: $standard-border-radius;
  color: black;
}

.border-none {
  border: none;
}

#error_explanation {
padding: 1em;
color: #721c24;
background-color: #f8d7da;
border: 2px solid;
border-color: #f5c6cb;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}

a:hover {
  text-decoration: none;
}

.alert {
  width: 100%;
}

.advance-btn {
  display: inline-block;
  color: white;
  background-color: $brand-color;
  border-radius: 1em;
  border: none;
  padding: .2em 1.2em;
  margin-bottom: 1em;
  font-weight: bold;
  height: 42px;
}

.advance-btn:hover, .advance-btn:active {
  background-color: #1F50C3;
}

.login-field {
  border: 1px solid $accent-color;
  border-radius: 1em;
  padding-left: 1em;
  background-color: white;
  text-align: center;
  width: 90%;
  max-width: 350px;
  margin-bottom: .8em;
  min-height: 28px;
}

.sign-up-field {
  width: 100% !important;
}
.remember {
  margin-bottom: 1em;
  margin-left: .4em;
}

.small-text {
  font-size: .8em;
  line-height: .95em;
}

label {
  margin-bottom: .2em;
  font-size: .8em;
  line-height: .95em;
}

.sign-up-form {
  width: 90%;
  max-width: 350px;
  margin: auto;
}

.display-title {
  margin-top: 3em;
  margin-bottom: .6em;
}

.display-none {
  display: none;
}

select {
  margin-bottom: .8em;
  margin-left: .4em;
}

.green {
  color: green;
  @include wide-button;
}

.red {
  color: red;
  @include wide-button;
  margin-top: -1px;
}

.blue {
  color: $brand-color;
  @include wide-button;
}

.blue-link {
  @include wide-button;
  color: $brand-color;
  display: block;
  text-align: center;
  padding-top: .5em;
}

.green:hover {
  background-color: #f4f4f4;
}

.blue:hover {
  background-color: #f4f4f4;
}

.red:hover {
  background-color: #f4f4f4;
}

.next-link {
  padding-top: .5em;
}

.type-select {
  border-radius: 1em;
  padding-top: .9em;
  margin-bottom: 1em;
}
.type-select:hover {
  background-color: $light-grey;
}

.type-selected {
  background-color: $brand-color;
  color: white;
}

.type-selected:hover {
  background-color: $brand-color
}

.type-select input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.tac-label {
  margin-bottom: 2em;
}
