$brand-color: #2766F4;
$accent-color: #707070;


::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}


.alert {
  width: 100%;
}

.advance-btn {
  color: white;
  background-color: $brand-color;
  border-radius: 1em;
  border: none;
  padding: .2em 1.2em;
  margin-bottom: 1em;
  font-weight: bold;
}

.advance-btn:hover, .advance-btn:active {
  background-color: #1F50C3;
}

.login-field {
  border: 1px solid $accent-color;
  border-radius: 1em;
  padding-left: 1em;
  background-color: white;
  text-align: center;
  width: 90%;
  max-width: 350px;
  margin-bottom: .8em;
}

.sign-up-field {
  width: 100%;
}
.remember {
  margin-bottom: 1em;
  margin-left: .4em;
}

.small-text {
  font-size: .8em;
  line-height: .95em;
}

label {
  margin-bottom: .2em;
  font-size: .8em;
  line-height: .95em;
}

.sign-up-form {
  width: 90%;
  max-width: 350px;
  margin: auto;
}

.display-title {
  margin-top: 3em;
  margin-bottom: .6em;
}

.display-none {
  display: none;
}

select {
  margin-bottom: .8em;
  margin-left: .4em;
}
