// Place all the styles related to the admin_dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin-section {
  border: 3px solid $accent-color;
  margin-bottom: .5em;
  min-height: 42px;
  padding-top: .2em;
}

.admin-number {
  font-weight: bold;
  font-size: 3em;
  margin-top: -1em;
}