// Place all the styles related to the Rides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ride-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.ride-box {
  // border: 1px solid $accent-color;
  // border-left: 0px;
  // border-right: 0px;
  color: black;
  margin-bottom: 2em;
  padding-left: .5em;
  padding-right: .5em;
}

.ride-box:hover {
  background-color: #f4f4f4;
}

.ride-label {
  display: inline-block;
  float: left;
  white-space: nowrap;
}

.ride-select-arrow {
  float: right;
  text-align: right;
  color: $accent-color;
}

.ride-desc {
  color: $accent-color;
}

.ride-label > p {
  margin-bottom: .1em;
}
.ride-time > p {
  margin-bottom: .1em;
}

#vehicle-select {
  display: none;
}

#vehicle-add {
  display: none;
}

.blue-link {
  @include wide-button;
  color: $brand-color;
  display: block;
  text-align: center;
  padding-top: .5em;
}

.blue-link:hover {
  background-color: #f4f4f4;
}

.flatpickr-calendar {
  position: inherit !important;
}