<p>Due to the winter holidays, LINK Rides is experiencing a shortage of available volunteer drivers. We apologize for any inconvenience caused by rides not being claimed, and hope that we can continue giving free rides after the break.</p>
<%= button_to "Request a ride", new_ride_path, method: :get, class: "advance-btn" %>
<%= button_to "Your rides", rides_path, method: :get, class: "advance-btn" %>