<div class="row">
  <div class="col">
    <%= link_to "Back", dashboard_path, class: "primary-button back-button" %>
  </div>
</div>

<div class="row text-center">
  <h1>Rides Awaiting A Driver</h1>
</div>

<%= render "rides/rides_list", no_rides_message: no_pending_rides %>