<%= link_to "< Home", root_path %><br>
<h1>Rides awaiting a driver</h1>
  <% unless @rides.present? %>
    <p>No rides available</p>
  <% else %>
    <% @rides.each do |ride| %>
      <div>
        <h2><%= link_to("#{ride.origin} to #{ride.destination}", ride_path(ride)) %></h2>
        <p><%= "#{ride.pickup_time}" %></p>
      </div>
    <% end %>
  <% end %>