<section class="hero-section container mb-5">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-6">
      <h1 class="mb-5">Hmm, something went wrong on our end. Maybe try again in a bit.</h1>

      <%= image_tag(asset_path("link-rides-hero.svg"), class: "hero-image mb-5") %>
    </div>
  </div>
</section>
