<div class="row">
  <div class="col">
    <%= link_to "Cancel", user_vehicle_path(@user, @vehicle), class: "primary-button back-button" %>
  </div>
</div>

<div class="row text-center">
  <h1>Edit Vehicle</h1>
</div>

<%= render "form", button: "Save" %>