<div class="row">
  <div class="col">
    <%= link_to "Back", user_path(@user), class: "primary-button back-button" %>
  </div>
</div>

<div class="row text-center">
  <h1>Add A Vehicle</h1>
</div>

<%= render "form", button: "Submit" %>