<tr><td><h1>Hello <%= @email %>!</h1></td></tr>

<% if @resource.try(:unconfirmed_email?) %>
  <tr><td style="padding: 12px 0px;">We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</td></tr>
<% else %>
  <tr><td style="padding: 12px 0px;">We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</td></tr>
<% end %>

<tr><td style="padding: 12px 0px;">Best,<br>LINK Rides</td></tr>