<tr><td><h1>Hello <%= @resource.email %>!</h1></td></tr>

<tr><td style="padding: 12px 0px;">We're contacting you to notify you that your password has been changed.</td></tr>

<tr><td style="padding: 12px 0px;">Best,<br>LINK Rides</td></tr>
