<tr><td><h1>Hello <%= @user.first_name %>,</h1></td></tr>

<tr><td style="padding: 12px 0px;">Your ride from <%= link_to("#{@ride.origin} to #{@ride.destination}", ride_url(@ride))%> for <%= @ride.formatted_pickup_time %> has been deleted. We hope you were able to get where you need to go!</td></tr>

<tr><td style="padding: 12px 0px;">Would you mind taking a moment to reply to this email and let us know why you deleted your ride?</td></tr>

<tr><td style="padding: 12px 0px;">Best,<br>
      LINK Rides</td></tr>