<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %>,</h1>

    <p>Your ride from <%= link_to("#{@ride.origin} to #{@ride.destination}", ride_url(@ride))%> for <%= @ride.formatted_pickup_time %> has been deleted. We hope you were able to get where you need to go!</p>

    <p>Would you mind taking a moment to reply to this email and let us know why you deleted your ride?</p>

    <p>Best,<br>
      LINK Rides</p>
  </body>
</html>
