<tr><td><h1>Hello <%= @user.first_name %>,</h1></td></tr>

<tr><td style="padding: 12px 0px;">Your ride from <%= link_to("#{@ride.origin} to #{@ride.destination}", ride_url(@ride))%> for <%= @ride.formatted_pickup_time %> has been completed. We're so glad we were able to serve you!</td></tr>

<tr><td style="padding: 12px 0px;">Please reply to this email if you have any feedback on your LINK Rides experience. We'd love to hear from you!</td></tr>

<tr><td style="padding: 12px 0px;">Best,<br>
      LINK Rides</td></tr>