<div class="row">
  <%= link_to ride_path(@ride) do %>
    <div class="primary-button back-button">
      Cancel
    </div>
  <% end %>
</div>

<div class="row text-center">
  <h1>Edit Ride</h1>
</div>

<%= render "form" %>