<%= link_to "< Home", root_path %><br>
<%= link_to "Request a ride", new_ride_path %>
<h1>Your Rides</h1>
  <% unless @rides.present? %>
    <p>No rides available</p>
  <% else %>
    <% @rides.each do |ride| %>
      <div>
        <%= link_to("#{ride.origin} to #{ride.destination} #{ '(Driver found!)' if ride.claimed? && current_user.international?}", ride_path(ride), class: "ride-title") %>
        <p><%= "#{ride.formatted_pickup_time}" %></p>
      </div>
    <% end %>
  <% end %>