<div class="row">
  <%= link_to dashboard_path do %>
    <div class="primary-button back-button">
      Back
    </div>
  <% end %>
</div>

<div class="row text-center">
  <h1>Request A Ride</h1>
</div>

<%= render "form" %>